.content {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
}

.logo {
    display: flex;
    align-items: center;
    margin: 10px;
}

.links {
    display: flex;
    align-items: center;
}

.social {
    margin: 2px;
}